<div class="card">
	<h4 class="card-title">Login</h4>
	<%=	form_for @session, url: login_path do |f| %>

	<%=	f.label :user_name %>
	<%=	f.text_field :user_name, class: 'form-control' %>
	
	<%=	f.label :password %>
	<%=	f.password_field :password, class: 'form-control' %>
	<%=	f.submit 'Login', class: 'btn btn-primary' %>
	<%	end %>

</div>

