<p id="notice"><%= notice %></p>

<p>
  <strong>Token:</strong>
  <%= @token.token %>
</p>

<p>
  <strong>Name:</strong>
  <%= @token.name %>
</p>

<p>
  <strong>Number of request:</strong>
  <%= @token.number_of_request %>
</p>
<p>
  <strong>State:</strong>
  <%= @token.state %>
</p>
<%= link_to 'Edit', edit_token_path(@token) %> |
<%= link_to 'Back', tokens_path %>
